/* 固定在畫面右側的按鈕 */
.fixed-buttons {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* DataTable的表頭 */
table.dataTable thead th {
    background-color: #c5c5c5;
    color: black;
}
